<nav class="navtop">
  <div>
    <h1>
      <a href="/">
        <img src="{{ url_for('static', filename='img/hardurl_logo-white-50px.png') }}">
      </a>
    </h1>
    <a href="{{ url_for('home') }}">
      <i class="fas fa-home"></i>Home
    </a>
    <a href="{{ url_for('apps.app_index') }}">
      <i class="fas fa-user-circle"></i>Apps
    </a>
    {% if g.user %}
    <a href="{{ url_for('security.logout') }}">
      <i class="fas fa-sign-out-alt"></i>Logout
    </a>
    {% endif %}

    <!-- { % for navitem in mainnavitems % }
    TODO
    { % endfor % } -->
  </div>
</nav>
