<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
  <head>
    {% include '_head.html' %}
    <title>{% block title %}{{ title|default }}{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include '_scripts.html' %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
  {% block body %}
    {% block content -%}
    {%- endblock content %}

    {% include '_footer.html' %}
  {%- endblock body %}
  </body>
</html>
